# PFM: Cleaning Data Meteo SNP

## **1. Importar librerías y datos**

In [17]:
# Importamos las librerías
### Escribe aquí tu código ###
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import pytz
import seaborn as sns

# Cargamos el conjunto de datos de entrada
### Escribe aquí tu código ###
dataset = pd.read_csv('df_Tenerife_Meteo_28.14_-16.46_2020_July.csv', delimiter=';', encoding='latin-1')

## **2. Comprender y limpiar los datos**

Es necesario visualizar y comprender los datos con los que vamos a trabajar, así como conocer sus características. El Data Cleaning consiste en identificar y eliminar las irregularidades.

Las irregularidades se pueden clasificar en:
- Missing values
- Incorrect format
- Incorrect headers
-  Anomalies/Outliers

**1. ¿Cuántos datos hay?** **¿Cuántos atributos hay en los datos?**

In [18]:
# Filasxcolumnas de los datos
### Escribe aquí tu código ###
dataset.shape

(4743, 7)

In [19]:
# Observa las primeras 5 filas de los datos
### Escribe aquí tu código ###
dataset

,PeriodEnd,PeriodStart,Period,AirTemp,RelativeHumidity,WindSpeed10m,Zenith
0,2020-06-30T00:20:00Z,2020-06-30T00:10:00Z,PT10M,18.6,74.7,4.6,127
1,2020-06-30T00:30:00Z,2020-06-30T00:20:00Z,PT10M,18.6,74.6,4.7,128
2,2020-06-30T00:40:00Z,2020-06-30T00:30:00Z,PT10M,18.6,74.5,4.7,128
3,2020-06-30T00:50:00Z,2020-06-30T00:40:00Z,PT10M,18.6,74.4,4.8,128
4,2020-06-30T01:00:00Z,2020-06-30T00:50:00Z,PT10M,18.6,74.4,4.8,128
...,...,...,...,...,...,...,...
4738,2020-08-01T22:00:00Z,2020-08-01T21:50:00Z,PT10M,22.7,52.1,4.1,114
4739,2020-08-01T22:10:00Z,2020-08-01T22:00:00Z,PT10M,22.7,51.3,4.2,115
4740,2020-08-01T22:20:00Z,2020-08-01T22:10:00Z,PT10M,22.6,50.8,4.2,117
4741,2020-08-01T22:30:00Z,2020-08-01T22:20:00Z,PT10M,22.5,50.2,4.3,119
4742,2020-08-01T22:40:00Z,2020-08-01T22:30:00Z,PT10M,22.4,49.7,4.4,120

In [20]:
# Observa las últimas 5 filas de los datos
### Escribe aquí tu código ###
dataset.tail(5)

,PeriodEnd,PeriodStart,Period,AirTemp,RelativeHumidity,WindSpeed10m,Zenith
4738,2020-08-01T22:00:00Z,2020-08-01T21:50:00Z,PT10M,22.7,52.1,4.1,114
4739,2020-08-01T22:10:00Z,2020-08-01T22:00:00Z,PT10M,22.7,51.3,4.2,115
4740,2020-08-01T22:20:00Z,2020-08-01T22:10:00Z,PT10M,22.6,50.8,4.2,117
4741,2020-08-01T22:30:00Z,2020-08-01T22:20:00Z,PT10M,22.5,50.2,4.3,119
4742,2020-08-01T22:40:00Z,2020-08-01T22:30:00Z,PT10M,22.4,49.7,4.4,120

**2. ¿Qué significan?**

In [21]:
# Formato de los datos
### Escribe aquí tu código ###
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4743 entries, 0 to 4742
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PeriodEnd         4743 non-null   object
 1   PeriodStart       4743 non-null   object
 2   Period            4743 non-null   object
 3   AirTemp           4743 non-null   float64
 4   RelativeHumidity  4743 non-null   float64
 5   WindSpeed10m      4743 non-null   float64
 6   Zenith            4743 non-null   int64
dtypes: float64(3), int64(1), object(3)
memory usage: 259.5+ KB

In [22]:
dataset.describe()

           AirTemp  RelativeHumidity  WindSpeed10m       Zenith
count  4743.000000       4743.000000   4743.000000  4743.000000
mean     23.783070         46.563968      6.517710    76.402488
std       2.871959         10.739254      1.719825    39.830860
min      17.500000         22.800000      2.100000     5.000000
25%      21.400000         38.500000      5.300000    41.000000
50%      24.000000         46.800000      6.400000    80.000000
75%      25.800000         54.550000      7.900000   114.000000
max      31.300000         76.100000     10.500000   134.000000

In [23]:
print('El Dataset tiene' , dataset.shape[0], 'filas')
print('El Dataset tiene'  , dataset.shape[1], 'columnas')

El Dataset tiene 4743 filas
El Dataset tiene 7 columnas

**3. ¿Son todas las columnas relevantes?**

In [24]:
# Eliminamos las filas sobrantes
dataset = dataset.drop(dataset.index[:142])
dataset = dataset.drop(dataset.index[-137:])

# Eliminamos las columnas que no aportan ninguna información extra
dataset = dataset.drop(['PeriodStart', 'Period'],axis=1) #,'AlbedoDaily', 'SnowDepth','SurfacePressure'
dataset

                 PeriodEnd  AirTemp  RelativeHumidity  WindSpeed10m  Zenith
142   2020-07-01T00:00:00Z     20.0              65.6           4.2     126
143   2020-07-01T00:10:00Z     20.0              65.5           4.2     126
144   2020-07-01T00:20:00Z     20.0              64.2           4.1     127
145   2020-07-01T00:30:00Z     20.1              62.8           4.0     128
146   2020-07-01T00:40:00Z     20.1              61.5           3.9     128
...                    ...      ...               ...           ...     ...
4601  2020-07-31T23:10:00Z     20.1              69.6           4.7     124
4602  2020-07-31T23:20:00Z     20.1              69.5           4.7     126
4603  2020-07-31T23:30:00Z     20.1              69.3           4.7     127
4604  2020-07-31T23:40:00Z     20.1              69.2           4.6     128
4605  2020-07-31T23:50:00Z     20.1              69.0           4.6     129

[4464 rows x 5 columns]

**4. ¿El formato de los datos es correcto?**

In [25]:
# Transformo time_series a formato de fecha y hora con .to_datetime()
dataset['PeriodEnd'] = pd.to_datetime(dataset['PeriodEnd'], format='%Y-%m-%dT%H:%M:%S%z')
# Elimino la zona horaria
dataset['PeriodEnd'] = dataset['PeriodEnd'].dt.tz_localize(None)
# Convierto en el index a la fecha y hora 'time_series'
dataset = dataset.set_index('PeriodEnd')

# Transformo todos los atributos a variables continuas
dataset=dataset.astype('float')

dataset.head()

                     AirTemp  RelativeHumidity  WindSpeed10m  Zenith
PeriodEnd
2020-07-01 00:00:00     20.0              65.6           4.2   126.0
2020-07-01 00:10:00     20.0              65.5           4.2   126.0
2020-07-01 00:20:00     20.0              64.2           4.1   127.0
2020-07-01 00:30:00     20.1              62.8           4.0   128.0
2020-07-01 00:40:00     20.1              61.5           3.9   128.0

In [26]:
dataset.dtypes

AirTemp             float64
RelativeHumidity    float64
WindSpeed10m        float64
Zenith              float64
dtype: object

Todos los atributos son variables numéricas contínuas (float64). Esto se va a tener en cuenta de cara a la elección y creación del modelo de aprendizaje.

**5. ¿Los títulos de las columnas son representativos?**

In [27]:
# Cambiamos el título de los atributos a nombres más cortos, sin espacios y sin acentos. 
# Respetamos la misma anotación para todos ellos.
dataset.columns = ['Temp_Aire_ºC','RH_%','WS_10m_ms','Zenith_º'] #'Azimuth_º','Nubosidad_%','Temp_Rocio_ºC','DHI_Wm2','DNI_Wm2','EBH_Wm2','GHI_Wm2','GTI_FT_Wm2','GTI_TR_Wm2','TPW_Kgm2','WD_10m_º',

In [12]:
# Creamos un diccionario con la descripción de cada indicador o atributo.
leyenda2={dataset.columns[0]:'La temperatura del aire (2 metros sobre el nivel de suelo). Unidades en Celsius.',
        dataset.columns[1]:'El ángulo entre una línea apuntando justo al norte y la posición actual del sol en el cielo. Negativo hacia el Este. Positivo hacia el Oeste. 0 justo al Norte. Unidades en grados.',
        dataset.columns[2]:'La medición de opacidad de las nubes para la radiación solar en una localidad dada (0 = sin nubes, 100 = total atenuación de la luz que llega). Unidades en porcentaje.',
        dataset.columns[3]:'La temperatura del punto de rocío del aire (2 metros sobre el nivel del suelo). Unidades en Celsius.',
        dataset.columns[4]:'La componente horizontal de la irradiancia difusa (irradiancia dispersada por la atmósfera). Unidades en W/m2.',
        dataset.columns[5]:'Irradiancia solar llegando en línea directa desde el sol como medida en una superficie mantenida perpendicular al sol. Unidades en W/m2.',
        dataset.columns[6]:'La componente horizontal de la iradiancia directa normal. Unidades en W/m2.',
        dataset.columns[7]:'La irradiancia total recibida en una superficie horizontal. La suma de las componentes horizontales de la irradiancia directa (rayo de luz) y difusa. Unidades en W/m2.',
        dataset.columns[8]:'La irradiancia total recibida en una superficie con un ángulo fijo. El ángulo es establecido de acuerdo a la latitud de la localización. Unidades en W/m2.',
        dataset.columns[9]:'Seguidor de un eje horizontal: La irradiancia total recibida sobre la superficie de un seguidor solar. Unidades en W/m2.',
        dataset.columns[10]:'El contenido de la columna total de agua precipitable. Unidades en kg/m2.',
        dataset.columns[11]:'La humedad relativa del aire (2 metros sobre el nivel del suelo). Unidades en porcentaje.',
        dataset.columns[12]:'La dirección del viento (10 metros sobre el nivel del suelo). Esta es la convención meteorológica. 0 es de tramontana (desde el norte); 90 es de levante (desde el este); 180 es de ostro (desde el sur); 270 es de poniente (desde el oeste). Unidades en grados.',
        dataset.columns[13]:'La velocidad del viento (10 metros sobre el nivel del suelo). Unidades en m/s.',
        dataset.columns[14]:'El ángulo entre una línea perpendicuar a la superficie de la tierra y el sol (90º = amanecer y atardecer; 0º = sol justo encima). Unidades en grados.'}

# Diccionario por pantalla
leyenda2

IndexError: index 4 is out of bounds for axis 0 with size 4

**6. ¿Falta algún dato? 
De ser así, indica cuántos y en que atributo(s)**

In [28]:
# Comprobar si falta algún dato y en qué atributo
### Escribe aquí tu código ###
dataset.isna().sum()

Temp_Aire_ºC    0
RH_%            0
WS_10m_ms       0
Zenith_º        0
dtype: int64

In [29]:
# Mostramos el dataset limpio con los cambios realizados

dataset.describe()

       Temp_Aire_ºC         RH_%    WS_10m_ms     Zenith_º
count   4464.000000  4464.000000  4464.000000  4464.000000
mean      23.896169    45.705332     6.579659    76.476703
std        2.867630    10.333017     1.718436    39.846641
min       17.600000    22.800000     2.100000     5.000000
25%       21.500000    38.000000     5.400000    42.000000
50%       24.100000    45.650000     6.500000    80.000000
75%       25.900000    53.500000     8.000000   114.000000
max       31.300000    76.100000    10.500000   133.000000

In [30]:
# Guardamos el archivo en formato CSV y Pickle
import pickle

def save_obj(obj, name ):
       with open('obj/'+ name + '.pkl', 'wb') as f:
           pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

save_obj(dataset, 'df_Tenerife_Meteo_28.14_-16.46_2020_07_clean')
#save_obj(leyenda2, 'dict_descripcion_df_Meteo')


dataset.to_csv('df_Tenerife_Meteo_28.14_-16.46_full_2020_07.csv', index=True)